extends ../layouts/default
include ../mixins/content-posts

block sub-header
	.container.sub-nav
		.row
			.col-md-12
				ul.nav.nav-tabs#myTabs
					li(role="presentation").active
						a(href="#board" role="tab" data-toggle="tab") Board of Directors
					li(role="presentation")
						a(href="#volunteers" role="tab" data-toggle="tab") Volunteers
					li(role="presentation")
						a(href="#links" role="tab" data-toggle="tab") Orienteering Links	
			
block content
	.tab-content.container.main-container
		div(role="tabpanel").tab-pane.active#board
			+content-post(data.directorsContent)
		div(role="tabpanel").tab-pane.active#volunteers
			+content-post(data.volunteersContent)
		div(role="tabpanel").tab-pane#links
			+content-post(data.orienteeringLinksContent)

block js