include ../mixins/content-posts
extends ../layouts/default

block sub-header
	.container.sub-nav
		.row
			.col-md-12
				ul.nav.nav-tabs#myTabs
					li(role="presentation").active
						a(href="#tab1" role="tab" data-toggle="tab") Board of Directors
					li(role="presentation")
						a(href="#tab2" role="tab" data-toggle="tab") Orienteering Links	
			
block content
	.tab-content.container
		div(role="tabpanel").tab-pane.active#tab1
			+content-post(data.directorsContent)
		div(role="tabpanel").tab-pane#tab2
			+content-post(data.orienteeringLinksContent)

block js
	script
		$(document).ready(function(){$('#myTabs a[href="' + window.location.hash + '"]').tab('show')});