include ../mixins/content-posts
extends ../layouts/default
							

mixin pastEvents(years, tab)
	if (years.length > 0)
		.section-title.pull-right
			.dropdown.dropdown-years.h2
				a(href="#" data-toggle="dropdown").dropdown-toggle !{year}
					span.caret-lg
				ul.dropdown-menu
					each year in years
						li 
							a(href='/events/' + year + tab) !{year}	

block sub-header
	.container.sub-nav
		.row
			.col-md-12
				ul.nav.nav-tabs#myTabs
					li(role="presentation").active
						a(href="#tab1" role="tab" data-toggle="tab") !{defaultYear} Event Schedule
					li(role="presentation")
						a(href="#tab2" role="tab" data-toggle="tab") Weekly Park Series	

block content
	.container.main-container
		.tab-content
			div(role="tabpanel").tab-pane.active#tab1
				.row
					.col-md-6
						h2.section-title Event Schedule
							span.icon-title
					.col-md-2
						+pastEvents(data.eventYears, '#tab1')				
				.row
					.col-md-8
						if data.events.length
							ul.media-list
								each event in data.events
									+event(event, true, false, '/events/event/')
						else
							h3.text-muted There are no events yet.		
			div(role="tabpanel").tab-pane#tab2
				.row
					.col-md-8
						+content-post(data.weeklySeriesContent)
				.row
					.col-md-6
						h2.section-title Park Series Schedule
							span.icon-title
					.col-md-2
						+pastEvents(data.weeklySeriesYears, '#tab2')
				.row
					.col-md-8
						if data.weeklySeries.length
							ul.media-list
								each event in data.weeklySeries
									+event(event, true, false, '/events/event/')
						else
							h3.text-muted There are no events yet.			