extends ../layouts/default

block header-image
	include ../includes/layouts/header_image

block content
	main.mdl-layout__content
		div.card-container
			div.event-card.mdl-card
				div.mdl-card__title
					h2.mdl-card__title-text Next Event
				div.mdl-card__supporting-text
					h3.card-event-title Orienteering Schools Meet
					div.card-event-location Location: Albion Hills
					div.card-event-date May 19, 2016
					div.card-event-brief Enter your school in TOC’s Orienteering SCHOOL MEET!  Last year we had more than 300 students.
					div.mdl-card__actions
						a(href="#") Details
			div.event-card.mdl-card
				div.mdl-card__title
					h2.mdl-card__title-text Next Wednesday Event
				div.mdl-card__supporting-text
					h3.card-event-title Wednesday Evening Park Series
					div.card-event-location Location: Sunnybrook
					div.card-event-date May 12, 2016
					div.mdl-card__actions
						a(href="#") Details
			div.blog-card.mdl-card
				div.mdl-card__title
					h2.mdl-card__title-text Next Wednesday Event
				div.mdl-card__supporting-text
					h3.card-event-title Wednesday Evening Park Series
					div.card-event-location Location: Sunnybrook
					div.card-event-date May 12, 2016
					div.mdl-card__actions
						a(href="#") Details
