extends ../layouts/default

block content
	main.container.mdl-layout__content
		.mdl-grid
			.mdl-cell.mdl-cell--10-col
				p: a(href='/blog') &larr; back to the News
				hr
				if !data.post
					h2 Invalid Post.
				else
					header
						h1= data.post.title
						h5 Posted 
							if data.post.publishedDate
								| on #{data.post._.publishedDate.format('MMMM Do, YYYY')}   
							if data.post.author
								| by #{data.post.author.name.first}
					.post
						if data.post.image.exists
							.image-wrap: img(src=data.post._.image.fit(750,450) alt="Event image").img-responsive
						!= data.post.content.full