include ../mixins/content-posts
extends ../layouts/default


block sub-header
	.container.sub-nav
		.row
			.col-md-12
				ul.nav.nav-tabs#myTabs
					li(role="presentation").active
						a(href="#tab1" role="tab" data-toggle="tab") Beginner Clinics
					li(role="presentation")
						a(href="#tab2" role="tab" data-toggle="tab") Advanced Clinics
					li(role="presentation")
						a(href="#tab3" role="tab" data-toggle="tab") Team Building
					li(role="presentation")
						a(href="#tab4" role="tab" data-toggle="tab") School Events		
			
block content
	.tab-content.container.main-container
		div(role="tabpanel").tab-pane.active#tab1
			+content-post(data.beginnersClinicContent)
		div(role="tabpanel").tab-pane#tab2
			+content-post(data.advancedClinicContent)
		div(role="tabpanel").tab-pane#tab3
			+content-post(data.teamBuildingContent)
		div(role="tabpanel").tab-pane#tab4
			+content-post(data.schoolEventsContent)

block js
	script
		$(document).ready(function(){$('#myTabs a[href="' + window.location.hash + '"]').tab('show')});