.sub-nav {
	margin-top: 50px;
	text-transform: uppercase;
}

.nav-tabs{
	padding-left: 15px;
	padding-right: 15px;
}

.navbar {
	text-transform: uppercase;
	z-index: 100;
}

.nav-text {
	padding-top:12px;
}

.cover-image {
  background-image : url('/images/hero_bg.jpg')
}

.hero-title {
	font-size: 34px;
	font-style: italic;
	letter-spacing: 4px;
	font-weight: 700;
	word-spacing: 12px;
	text-transform: uppercase;
	text-shadow: -3px 3px 3px #000000;
}

.raised-container {
	margin-top: -20px;
}

.hero-container {
	min-height: 500px;
}

.hero-column {
	margin-top: 110px;
}

.hero-divider {
	background-image: url(/images/hero_details.png);
	background-repeat: no-repeat;
	height: 96px;
	background-position: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

.hero-subtitle {
	padding-top: 5px;
	font-size: 20px;
	margin-bottom: 40px;
	text-transform: uppercase;
	letter-spacing: 2px;
	word-spacing: 10px;
	text-shadow: -3px 3px 3px #000000;
}

.fa {
	padding-left: 4px;
}

.main-container {
	min-height: 500px;
}

.section {
	padding: 0 0;
}

.events-news-section {
	padding-top: 0px;
}

.news-content-col {
	padding-bottom: 10px;
}

.news-col {
	background-color: #ededed;
	min-height: 450px;
	padding-bottom: 20px;
}

.news-brief {
	height: 3.8em;
  	overflow: hidden;
	margin-top: -10px;
}

.news-btn-group {
	margin-left: 20px;
}

.news-btn {
	background-color: #0aa0cb;
	border-color: #0997c9;
}

.news-btn:hover, .news-btn:focus, .news-btn:active, .news-btn.active {
	background-color: #0887c0;
}

.news-more {
	color: #0aa0cb;
}

.icon-title {
	background-image: url(/images/text_triangle.png);
	background-repeat: no-repeat;
	background-position: right top;
	padding-right: 24px;
	background-position-y: 6px;
}

.event-brief {
	min-height: 140px;
}

.event-brief-main {
	min-height: 80px;
}

.event-header {
	font-size: 20px;
	padding-bottom: 30px;
}

.news-header {
	font-size: 20px;
	padding-top: 5px;
}

.news-header p {
	margin-bottom: 0px;
}

.event-panel {
	min-height: 200px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
}

.event-footer {
	padding-top: 10px;
	padding-bottom: 10px;
}

@media (min-width: 992px){
	.border-right{
		border-right: 1px solid @gray-light;
	}
}

.border-bottom {
	border-bottom: 1px solid @gray-light;
}

.border-top {
	border-top: 1px solid @gray-light;
}

.event-date {
  color: #FF9A00;
}

.event-col {
	margin-bottom: 60px;
	margin-top: 10px;
}

.discover-text{
	background-color: @brand-primary;
	color: white;
	height: 500px;
	padding-top: 90px;
	padding-left: 20px;
	padding-right: 20px;
}

.discover-text h1 {
	font-weight: bolder;
	padding-top: 20px;
	padding-left: 20px;
}

.discover-text p {
	padding: 35px 20px;
	font-size: 18px;
}

.discover-image{
	padding-right: 0px;
	padding-left: 0px;
}

.discover-image img {
	min-height: 500px;
}

.services-section{
	padding-bottom: 30px;
}

.service-card {
	padding-bottom: 20px;
}


.service-brief {
	min-height: 120px;
}

.post-content {
	float: inherit;	
}

.post-content table {
	width: 100%;
}

.post-content td {
	border-bottom: 1px solid #ddd;
	padding: 10px 10px 10px 10px;
	vertical-align: baseline;
}

.post-content th {
	border-bottom: 1px solid #ddd;
	padding: 0 10px 10px 10px;
}

.section-title {
	text-transform: uppercase;
	font-style: italic;
	font-weight: bolder;
	padding-top: 30px;
	padding-bottom: 20px;
	margin-left: 5px;
	margin-right: 5px;
}

.card-location {
	padding-bottom: 20px;
}

.card-location a {
	color: @gray-light;
	text-decoration: underline;
}

.btn-primary {
  border-radius: 0px;
  text-transform: uppercase;
  margin-right: 20px;
}

.icon {
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 20px; /* Or size of icon + spacing */
	padding-top: 8px;
}

.icon-location {
	background-image: url(/images/icon_location.png);
}

.card-image {
	float: left;
	margin-right: 10px;
}

.event-list-item {
	border-radius: 10px;
}
.event-list-item .mdl-card__title {
	padding: 0px;
}

.event-list-item .mdl-card__supporting-text {
	padding: 0px;
	width: 98%;
	overflow: initial;
}
 .contact-message textarea {
	 width: inherit;
 }

 .event-list-item p {
	 padding-left: 10px;
 }

 .centered-image {
	 display: block;
	 margin-left: auto;
	 margin-right: auto;
	 margin-top: 10px;
	 margin-bottom: 10px;
 }

 .post-subtitle {
	 float: left;
 }

 .post-social {
	 float: right;
	 height: 80px;
 }

 .social-icon {
	 height: 60px;
 }

.footer-label {
	float: left;
	padding-right: 20px;
	padding-top: 5px;
}
.footer-contact {
	 margin-top: 30px;
	 margin-bottom: 20px;
 }

 .subscribe-message {
	 text-align: center;
 }

.caret-lg {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 3px;
    vertical-align: middle;
    border-top: 8px dashed;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 3px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.dropdown-years a {
	color: black;
	text-decoration: none;
}
