#header {
	margin-top: 30px;
}

#footer {
	margin-top: 30px;
	border-top: 1px solid #eeeeee;
	padding-top: 30px;
	color: #777777;
}

.gallery-image img {
    display: block;
    max-width: 100%;
    height: auto;
}

//Uses a transparent header that draws on top of the layout's background
.demo-layout-transparent {
  background: url('/images/header.jpg') center / cover;
	//background: url('https://getmdl.io/assets/demos/transparent.jpg') center / cover;
}
.demo-layout-transparent {
	min-height: 200px;
	color: white;
}
.mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}
.title-logo {
	width: 60px
}
.hero-content{
	text-align: center;
	color: #fff;
}
