#header {
	margin-top: 30px;
}

#footer {
	margin-top: 30px;
	border-top: 1px solid #eeeeee;
	padding-top: 30px;
	color: #777777;
}

.gallery-image img {
    display: block;
    max-width: 100%;
    height: auto;
}

//Uses a transparent header that draws on top of the layout's background
.header-background {
  background: url('/images/header.jpg') center / cover;
	max-height: 200px;
}


.title-logo {
	width: 60px
}
.hero-content{
	text-align: center;
	color: #fff;
}

.event-card.mdl-card {
  width: 320px;
  height: 320px;
}
.event-card > .mdl-card__title {
  color: #fff;
  background: #607D8B;
}

.event-card > .mdl-card__supporting-text {
  font-size: 14px;
	height: 220px;
}
