div.mdl-mega-footer
  div.mdl-mega-footer__middle-section
    div.mdl-mega-footer__drop-down-section
      h1.mdl-mega-footer__heading Events
      ul.mdl-mega-footer__link-list
        li <a href='/events#tab1'>Event Schedule</a>
        li <a href='/events#tab2'>Wednesday Park Events</a>
        li <a href='/events#tab3'>Results</a>
    div.mdl-mega-footer__drop-down-section
      h1.mdl-mega-footer__heading Services
      ul.mdl-mega-footer__link-list
        li <a href='/services#tab1'>Beginners Clinic</a>
        li <a href='/services#tab2'>Advanced Clinics</a>
        li <a href='/services#tab3'>Corporate Events</a>  
        li <a href='/services#tab4'>School Events</a>
    div.mdl-mega-footer__drop-down-section
      h1.mdl-mega-footer__heading News
      ul.mdl-mega-footer__link-list
        li <a href='/blog'>All News</a>
    div.mdl-mega-footer__drop-down-section
      h1.mdl-mega-footer__heading About
      ul.mdl-mega-footer__link-list
        li <a href='/about#tab1'>Board of directors</a>
        li <a href='/about#tab2'>Orienteering Links</a>    
        
      
