div.mdl-mega-footer
  div.mdl-mega-footer__middle-section
    div.mdl-mega-footer__drop-down-section
      h1.mdl-mega-footer__heading Events
      ul.mdl-mega-footer__link-list
        li <a href='#'>Event Schedule</a>
        li <a href='#'>Wednesday Park Events</a>
        li <a href='#'>Results</a>
    div.mdl-mega-footer__drop-down-section
      h1.mdl-mega-footer__heading Services
      ul.mdl-mega-footer__link-list
        li <a href='#'>Beginners Clinic</a>
        li <a href='#'>Advanced Clinics</a>
        li <a href='#'>Corporate Events</a>  
        li <a href='#'>School Events</a>
    div.mdl-mega-footer__drop-down-section
      h1.mdl-mega-footer__heading Blog
      ul.mdl-mega-footer__link-list
        li <a href='#'>All Blogs</a>
    div.mdl-mega-footer__drop-down-section
      h1.mdl-mega-footer__heading About
      ul.mdl-mega-footer__link-list
        li <a href='#'>Board of directors</a>
        li <a href='#'>Orienteering Links</a>    
        
      
