header.mdl-layout__header
  div.mdl-layout.mdl-js-layout
    div.mdl-layout__header-row
      img(src="images/logo.jpg", alt="").mdl-layout-title.title-logo
      nav.mdl-navigation
        a(href='#').mdl-navigation__link Events
        a(href='#').mdl-navigation__link Services
        a(href='#').mdl-navigation__link Blog
        a(href='#').mdl-navigation__link About
        //Add spacer, to align navigation to the right
      div.mdl-layout-spacer
      nav.mdl-navigation  
        if user
          if user.canAccessKeystone
            a(href='/keystone').mdl-navigation__link Open Keystone
          a(href='/keystone/signout').mdl-navigation__link Sign Out
        else
          a(href='/keystone/signin').mdl-navigation__link Sign In  
    div.mdl-layout__drawer
      nav.mdl-navigation
        a(href='#').mdl-navigation__link Home
        a(href='#').mdl-navigation__link Events
        a(href='#').mdl-navigation__link Services
        a(href='#').mdl-navigation__link Blog
        a(href='#').mdl-navigation__link About    
