.cover
  .navbar.navbar-inverse
    .container
      .navbar-header
        button(type="button", data-toggle="collapse", data-target="#navbar-ex-collapse").navbar-toggle
          span.sr-only Toggle Navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar    
      .collapse#navbar-ex-collapse.navbar-collapse
        ul.nav.navbar-left.navbar-nav
          li
            a(href='/')
              img(src="/images/logo_white.png")
          li.dropdown.nav-text
            a(href="/events", data-toggle="dropdown", role="button", aria-expanded="false").dropdown-toggle Events
              span.caret
            ul(role="menu").dropdown-menu
              li
                a(href="/events/#tab1") !{defaultYear} Season Schedule 
              li
                a(href="/events/#tab2") Weekly Park Series
          li.dropdown.nav-text
            a(href="/services", data-toggle="dropdown", role="button", aria-expanded="false").dropdown-toggle Services
              span.caret
            ul(role="menu").dropdown-menu
              li
                a(href="/services/#tab1") Beginners Clinic 
              li
                a(href="/services/#tab2") Advanced Clinics
              li
                a(href="/services/#tab3") Team Building
              li
                a(href="/services/#tab4") School Events
          li.nav-text
            a(href='/blog') News
          li.dropdown.nav-text
            a(href="/about", data-toggle="dropdown", role="button", aria-expanded="false").dropdown-toggle About Us
              span.caret
            ul(role="menu").dropdown-menu
              li
                a(href="/about/#tab1") Board of Directors 
              li
                a(href="/about/#tab2") Orienteering Links
            li.nav-text
              a(href='/join') Become a member         
  block header-image
  block sub-header
