.cover-image
.container
	.row
		.col-md-12.text-center
			.hero-title.text-inverse OUTDOOR - ACTIVE - URBAN
			.hero-devider
			.hero-subtitle.text-inverse Toronto Orienteering Club
			a(href='/join').btn.btn-lg.btn-primary Join Now