.cover
  .navbar.navbar-inverse
    .container
      .navbar-header
        button(type="button", data-toggle="collapse", data-target="navbar-ex-collapse").navbar-toggle
          span.sr-only Toggle Navigation
          // TODO 3 times?
          span.iconbar    
      .collapse#navbar-ex-collapse.navbar-collapse
        ul.nav.navbar-left.navbar-nav
          li.active
            a(href='/') Home
          li.dropdown
            a(href="/events", data-toggle="dropdown", role="button", aria-expanded="false").dropdown-toggle Events
              i.fa.fa-caret-down
            ul(role="menu").dropdown-menu
              li
                a(href="/events/#tab1") Season Schedule 
              li
                a(href="/events/#tab2") Weekly Park Series
          li.dropdown
            a(href="/services", data-toggle="dropdown", role="button", aria-expanded="false").dropdown-toggle Services
              i.fa.fa-caret-down
            ul(role="menu").dropdown-menu
              li
                a(href="/services/#tab1") Beginners Clinic 
              li
                a(href="/services/#tab2") Advanced Clinics
              li
                a(href="/services/#tab3") Team Building
              li
                a(href="/services/#tab4") School Events
          li
            a(href='/blog') News
          li.dropdown
            a(href="/about", data-toggle="dropdown", role="button", aria-expanded="false").dropdown-toggle About Us
              i.fa.fa-caret-down
            ul(role="menu").dropdown-menu
              li
                a(href="/about/#tab1") Board of Directors 
              li
                a(href="/about/#tab2") Orienteering Links
            li
              a(href='/join') Join us!         
  block header-image
  block sub-header
