.cover-image
.container.hero-container
	.row
		.col-md-12.text-center.hero-column
			.hero-title.text-inverse Toronto Orienteering Club
			.hero-divider
			.hero-subtitle.text-inverse OUTDOOR - ACTIVE - URBAN
			a(href='/join').btn.btn-lg.btn-primary Join Now