.cover
  .navbar.navbar-inverse
    .container
      .navbar-header
        .brand-logo.pull-left
          a(href='/')
            img(src="/images/logo_white.png" alt="Home")
        button(type="button", data-toggle="collapse", data-target="#navbar-ex-collapse").navbar-toggle
          span.sr-only Toggle Navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar    
      .collapse#navbar-ex-collapse.navbar-collapse
        ul.nav.navbar-left.navbar-nav
          li.dropdown.nav-text
            a(href="/events", data-toggle="dropdown", role="button", aria-expanded="false").dropdown-toggle Events
              span.caret
            ul(role="menu").dropdown-menu
              li
                a(href="/events/#tab1") #{defaultYear} Season Schedule 
              li
                a(href="/events/#tab2") Weekly Park Series
          li.dropdown.nav-text
            a(href="/programs", data-toggle="dropdown", role="button", aria-expanded="false").dropdown-toggle Programs
              span.caret
            ul(role="menu").dropdown-menu
              li
                a(href="/programs/#tab1") Youth Program 
              li
                a(href="/programs/#tab2") Beginner Clinics
              li
                a(href="/programs/#tab3") Intermediate Clinics  
              li
                a(href="/programs/#tab4") Orienteering for Schools
              li
                a(href="/programs/#tab5") Certifications
              li
                a(href="/programs/#tab6") Team Building
          li.nav-text
            a(href='/blog') News
          li.nav-text
            a(href='/maps') Maps  
          li.dropdown.nav-text
            a(href="/about", data-toggle="dropdown", role="button", aria-expanded="false").dropdown-toggle About Us
              span.caret
            ul(role="menu").dropdown-menu
              li
                a(href="/about/#board") Board of Directors
              li
                a(href="/about/#volunteers") Volunteers  
              li
                a(href="/about/#links") Orienteering Links
          li.nav-text
            a(href='/contact') Contact Us
          li.nav-text
            a(href='/join') Become a member         
  block header-image
