if(promoBanner && promoBanner.enabled)
	style.
		@media (max-width: 760px){
			.promo-image{
				background-image:url(#{promoBanner.image_small_screen.url});
				min-height: 250px;
			}
			.promo-container{
				height: 250px;
			}
		}
		@media (min-width: 760px){
			.promo-image{
				background-image:url(#{promoBanner.image_large_screen.url});
			}
		}
	.container.promo-container
		.row
			.col-md-12.promo-col
				div !{promoBanner.snippet}
